/* INICIO DIMENSIONES */

@media (min-width: 991px) {
    .fondo {
        background-image: url(../images/fondo_portada_escritorio.png);
    }

    .fondo-consulta {
        width: 400px;
        height: 400px;
        border-radius: 40px;
        -webkit-box-shadow: 3px 11px 7px -9px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 11px 7px -9px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 11px 7px -9px rgba(0, 0, 0, 0.75);
        margin: 0;
    }

    .height {
        height: 100vh;
    }

    .content-movile {
        justify-content: center;
    }

    .inicio {
        position: absolute;

    }

    .text-inicio {
        display: none;
    }

    .img-logo {
        display: none;
    }

    .content-inicio {
        justify-content: center;
        /* align-items: center; */
        position: absolute;
        right: calc((120%)/2);
    }

    .consulta {
        display: flex;
        position: absolute;
        /* justify-content: end;*/
        align-items: center;
        left: calc((100%)/2);
        height: 100%;
        width: 100%;
        
    }

    .content-consulta {
        width: 70%;
    }

    .card-consulta {
        height: auto;
        right: 0;
    }

    .content-puntos {
        margin: 0;
    }

    .text {
        font-size: 35px;
        letter-spacing: -3px;
    }
    
    .text span{
        font-size: 48px;

    }

    .img-logo-negativo {
        width: 200px;
    }

    .img-logo-puntos {
        width: 300px;
    }

    .logo-puntos {
        display: flex;
        justify-content: center;
    }
}


@media (min-width: 1360px) {
    .img-logo-negativo {
        width: 210px;
    }

    .img-logo-puntos {
        width: 320px;
    }
}

@media (min-width: 1900px) {
    .content-inicio {
        right: calc((110%)/2);
    }

    .consulta {
        left: calc((100%)/2);
    }

    .img-logo-negativo {
        width: 230px;
    }

    .img-logo-puntos {
        width: 350px;
    }
}


/* SALUDO DIMENSIONES PC */

@media(min-width: 576px) {
    .img-superior {
        display: none;
    }

    .superior {
        display: flex;
        width: 100%;
        background-color: var(--bs-green);
        height: 150px;
    }

    .saludo {
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .text-saludo {
        font-size: 50px;
    }

    .mt-60 {
        margin-top: 40px;
    }

    .img-afiliado {
        width: 250px;
    }

    .card {
        flex-direction: row;
        width: 530px;
        justify-content: space-between;
        align-items: center;
        padding: 0 45px 10px 30px;
    }

    .card h1 {
        font-size: 70px;
    }

    .card h2 {
        font-size: 15px;
    }

    .text-card {
        margin: 20px 0 0 0;
    }

    .img-puntos {
        margin-top: 0;
        margin-right: 10px;
        width: 80px;
    }

    .puntos-afiliado {
        flex-direction: row;
    }

}

/* SIN REGISTRAR */


@media (min-width: 576px) {
    .img-sin.registrar {
        margin-bottom: 50px;
    }

    .img-notificacion {
        width: 350px;
    }

}


@media (max-width: 360px) {
    .card {
        width: 330px;
    }

    .puntos {
        font-size: 70px;
    }

}